<div
  class="language-tabs"
  role="tablist"
  aria-label="Language"
  data-language-switcher
  data-default-lang="en"
>
  <button
    class="tab-button"
    id="tab-en"
    type="button"
    role="tab"
    aria-selected="true"
    aria-controls="panel-en"
    data-lang-tab="en"
  >
    English
  </button>
  <button
    class="tab-button"
    id="tab-it"
    type="button"
    role="tab"
    aria-selected="false"
    aria-controls="panel-it"
    data-lang-tab="it"
  >
    Italiano
  </button>
</div>
